<h2 style = "color: #09014d">FEEDBACK KHÁCH HÀNG </h2>
{{#each comments}}
<table border = "0">
	<tr>
		<td ><img src="image/unhappy.jpg" width="50" > </td>
		
	</tr>
	<tr>
	<td  style ="color:#f36b7e"><p> {{Email}} </p></td>
	</tr>
	<tr>
		
		<td><p> {{Comment}} </p></td>
	</tr>
</table>
{{/each}}

