<script>
$(document).ready(function(){
    
        $('.modal-body').empty();
        $('.modal-body').append(content);
        $('#myModal').modal('show');
    
});
</script>
<div class="container">
  
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> <img src ="image/Ava.png" width="50">FEEDBACK</h4> 
        </div>
        <div class="modal-body">
           <form method="post" action = "">
                <center>
                  <div class="color">
                  <img src="image/call.png" width="50" title="Gọi đến với chúng tôi">
                  <h4>Feek xin chào bạn!</h4>
                  <h4> Vui lòng nói cho Feek nghe đánh giá của bạn về </h4>
                  <h4> ABCXYZ đã mua và dịch vụ giao hàng được không ạ? </h4>
                  <img src="image/tree.png" width="200px" height="200px">
                  <p> &nbsp; </p>
                  <table class="color">
                  
                      <tr>
                        <td>
                            <a href="#"><img src="image/unhappy.jpg" width="80px" height="80px" title="Không hài lòng"> </a>
                        </td>
                        <td>
                            <a href="#"><img src="image/normal.jpg" width="80px" height="80px" title="Bình thường"> </a>
                        </td>
                        <td>
                          <a href="#"><img src="image/happy.jpg" width="80px" height="80px" title="Hài lòng"> </a>
                        </td>

                        <td rowspan="2">
                          <img src="image/product.jpg" width="120px" height="120px" title="Chất lượng sản phẩm"> 
                        </td>
                      </tr>
                      <center>
                      <tr>
                      
                        <td> <input type="radio" name= "sp1"></td>
                        <td> <input type="radio" name= "sp1"> </td>
                        <td> <input type="radio" name= "sp1"> </td>
                        
                      </div>
                      </tr>
                      <tr>
                        <td colspan="4">
                          Cho feek nghẹ cụ thể hơn được không ạ? 
                        </td>
                      

                      </tr>

                      <tr>
                        <td colspan="4">
                          <div class ="form-group">
                          <input type="text" class = "form-control" name="sp">
                        </div>
                        </td>
                      </tr>

                      <tr>
                        <td>
                            <a href="#"><img src="image/unhappy.jpg" width="80px" height="80px" title="Không hài lòng"> </a>
                        </td>
                        <td>
                            <a href="#"><img src="image/normal.jpg" width="80px" height="80px" title="Bình thường"> </a>
                        </td>
                        <td>
                          <a href="#"><img src="image/happy.jpg" width="80px" height="80px" title="Hài lòng"> </a>
                        </td>

                        <td rowspan="2">
                          <img src="image/service.jpg" width="120px" height="120px" title="Dịch vụ giao hàng"> 
                        </td>
                      </tr>
                    
                      <tr>
                        <td> <input type="radio" name= "dv1" value="2"></td>
                        <td> <input type="radio" name= "dv1"> </td>
                        <td> <input type="radio" name= "dv1"> </td>
                        <td> </td>
                      </tr>
                      <tr>
                        <td colspan="4">
                          Cho feek nghe cụ thể hơn được không ạ? 
                        </td>
                      </tr>

                      <tr>
                        <td colspan="4">
                          <div class ="form-group">
                          <input type="text" class = "form-control" name="dv">
                        </div>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button type="submit" class="btn btn-success"> ĐĂNG </button></td>
                      </tr>

                     
                  </table>
                  
                  
                  
              </div>
              </center>

            
              
            </form>
        </div>
        
      </div>
    </div>
  </div>
</div>


